<nav>
  <div class="navbar-logo">Logo</div>
  <ul class="navbar-nav">
    <li class="nav-item"><a href="#">Home</a></li>
    <li class="nav-item"><a href="#">About</a></li>
    <li class="nav-item"><a href="#">Contact</a></li>
  </ul>
  <div class="navbar-search">
    <svg
      viewBox="0 0 24 24"
      class="navbar-search-icon"
      (click)="expandSearch()"
    >
      <path
        d="M9 17a6 6 0 1 1 6-6 6 6 0 0 1-6 6zm9.707-2.293l-4.4-4.4a4.5 4.5 0 1 0-.707.707l4.4 4.4a.5.5 0 0 0 .707-.707z"
      />
    </svg>
    <input
      type="text"
      (keypress)="searchProducts($event)"
      placeholder="Search..."
    />
    <div class="search-dropdown"></div>
  </div>
</nav>
<script>
  function expandSearch() {
    const navbarSearch = document.querySelector(".navbar-search");
    navbarSearch.classList.add("expanded");

    const navbarNav = document.querySelector(".navbar-nav");
    navbarNav.classList.add("hidden");
  }
</script>

<div class="container flex justify-center mx-auto pt-16">
  <div>
    <p class="text-gray-500 -lg text-center font-normal pb-3">BUILDING TEAM</p>
    <h1
      class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto"
    >
      The Talented People Behind the Scenes of the Organization
    </h1>
  </div>
</div>
<div class="w-full bg-gray-100px-10 pt-10">
  <div class="container mx-auto">
    <div
      role="list"
      aria-label="Behind the scenes People "
      class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around"
    >
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="/assets/team/ahzam.jpg"
                alt="Display Picture of Dean Jones"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Ahzam</h1>
            <p class="text-gray-800 text-sm text-center">Software Engineer</p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Engineered and developed the site,
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="/assets/team/shajidh.jpeg"
                alt="Display Picture of Rachel Adams"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Shajidh</h1>
            <p class="text-gray-800 text-sm text-center">
              Software Engineer undergraduate
            </p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              Javascript developer of the site, designed and implemented API's,
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5"
      >
        <div class="rounded overflow-hidden shadow-md bg-white">
          <div class="absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="/assets/team/arhsad.png"
                alt="Display Picture of Charles Keith"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md"
              />
            </div>
          </div>
          <div class="px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1">Arshad Khan</h1>
            <p class="text-gray-800 text-sm text-center">
              Software Engineer undergraduate
            </p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              UI/UX designer of the site, developed frontend with angular
              typescript
            </p>
            <div class="w-full flex justify-center pt-5 pb-5">
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Github" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg1.svg"
                    alt="github"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Twitter" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg"
                    alt="twitter"
                  />
                </div>
              </a>
              <a href="javascript:void(0)" class="mx-5">
                <div aria-label="Instagram" role="img">
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg"
                    alt="instagram"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
