<div
  id="carouselExampleCrossfade"
  class="carousel mx-auto slide carousel-fade relative overflow-hidden"
  style="max-height: 700px"
  data-bs-ride="carousel"
>
  <div class="w-full my-5 z-50">
    <div class="box pt-6">
      <div class="box-wrapper">
        <div
          class="bg-white rounded flex items-center w-full p-3 shadow-sm border border-gray-200"
        >
          <button class="outline-none focus:outline-none">
            <svg
              class="w-5 text-gray-600 h-5 cursor-pointer"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </button>
          <input
            type="search"
            name=""
            id=""
            placeholder="search for images"
            x-model="q"
            class="w-full pl-4 text-sm outline-none focus:outline-none bg-transparent"
          />
          <div class="select">
            <select
              name=""
              id=""
              x-model="image_type"
              class="text-sm outline-none focus:outline-none bg-transparent"
            >
              <option value="all" selected>All</option>
              <option value="photo">Photo</option>
              <option value="illustration">Illustration</option>
              <option value="vector">Vector</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4"
  >
    <ng-container *ngFor="let i of banners; let ind = index">
      <button
        type="button"
        (click)="changePos(ind)"
        [ngClass]="{
          'bg-gray-600 ': sliderpos === ind,
          'bg-gray-400 ': sliderpos != ind
        }"
        class="z-50 p-2 mx-1 rounded-full bg-gray-600"
      ></button>
    </ng-container>
  </div>
  <div class="carousel-inner aspect-video relative w-full overflow-hidden">
    <ng-container *ngFor="let banner of banners; let i = index">
      <div
        class="carousel-item active float-left w-full absolute top-0 left-0"
        [ngClass]="{ 'show ': sliderpos === i, 'hide ': sliderpos != i }"
      >
        <img [src]="banner.image" class="block w-full" alt="Wild Landscape" />
      </div>
    </ng-container>
    <button
      (click)="prev()"
      class="carousel-control-prev h-fit absolute top-1/4 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
      type="button"
      data-bs-target="#carouselExampleCrossfade"
      data-bs-slide="prev"
    >
      <span
        class="visually-hidden bg-gray-600 opacity-40 md:p-4 sm:p-1 rounded-full"
        ><mat-icon class="m-2 text-white">keyboard_arrow_left</mat-icon></span
      >
    </button>
    <button
      (click)="next()"
      class="carousel-control-next h-fit absolute top-1/4 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
      type="button"
      data-bs-target="#carouselExampleCrossfade"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon inline-block bg-no-repeat"
        aria-hidden="true"
      ></span>
      <span
        class="visually-hidden bg-gray-600 opacity-40 md:p-4 sm:p-1 m-2 rounded-full"
        ><mat-icon class="m-2 text-white">keyboard_arrow_right</mat-icon></span
      >
    </button>
  </div>
</div>
